@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600;700;900&family=Radio+Canada:wght@700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
   background-image: url(../fundo.png);
}



header {
    position: fixed;
    top: 0;
    background-color: black;
    margin-right: 5%;
    margin-left: 5%;
}


.borda-a {
    border-image:linear-gradient(90deg, #caff42,  rgb(155 215 255) 70%) 1;
    border-style: solid;
    border-width: 0px 0px 3px;
    width: 90%;
}

.header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
   
}

.inicio:hover, .trajetoria:hover, .habilidades:hover, .objetivos:hover, .contatos:hover, .projetos:hover {
    border-bottom: 2px solid #caff42;
}

.inicio, .trajetoria, .habilidades, .objetivos, .contatos, .projetos {
    color: #caff42;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    
}

.logo img {
    width: 200px;
    height: 120px;
}

.cabecalho {
width: 800px;
display: flex;
justify-content: space-around;
text-decoration: none;
color: rgb(155 215 255);
} 

.bloco1 {
    margin-top: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex:1;

  }
.resumo {
    display: inline-block;
    text-align: center;
}

h1 {
    color:  #caff42;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 46px;
    text-align: center;
    margin-top: 11%;
    font-weight: 400;
}

h2 {
    color:rgb(155 215 255);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 36px;
    font-weight: 400;
}
.bloco1 p {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 38px;

}

.bloco1 img {
    width: 25rem;
    border-radius: 100%;
}

.bloco2 {
    margin: auto 10% 0% 10%;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex: 1;
    height: 100%;
}


.bloco2 p {
    color: white;
    font-family: 'Roboto Flex';
    font-size: 26px;
}

.bloco2 span {
    color: rgb(155 215 255);
}
.resumo_2 {
    margin-top: 1%;
    background-color: black;
}

.bloco2 img {
    width: 45rem;
}

.bloco3 {
    height: 100%;
    flex: 1;
  
}

.progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4{
    --progress: 80;
    background-color: white;
    display: flex;
    margin-left: 5%;
    height: 1.5rem;
    border-radius: 10px 10px 10px 10px;
    margin-top: 3%;
    border: none;
    margin: 3% 0%;
    

  
  }
  
  .progress-bar1::before,.progress-bar4::before
{
    content: "";
    width: 85%;
    background-color:rgb(155 215 255);
    height: auto;
    border-radius: 10px 10px 10px 10px;
    
  }
  
  .progress-bar2::before,.progress-bar3::before {
    content: "";
    width: 60%;
    background-color:rgb(155 215 255);
    height: auto;
    border-radius: 10px 10px 10px 10px;

}  

.bloco3 {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 28px;
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
    font-weight: 400;




}
.bloco3-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
}


.graficos {
    width: 40%;
    background-color: black;

}

.resumo_3 {
    text-align: justify;
    width: 40%;
    font-size: 28px;
    background-color: black;
}

.resumo_4 {
    text-align: justify;
    width: 40%;
    font-size: 28px;
    background-color: black;
    color: white;
}

.bloco5 {
    display: flex;
    height: 100%;
    margin: 0px 31%;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    color: black; 
    width: 460px;
    flex-wrap: wrap;
    transform: translateY(-2%) rotate(270deg) skewY(1deg) scaleX(1);
    flex: 1;
    background-color: black;
    font-weight: 100;

}




h3 {
    font-size: 19px;
    font-style: normal;
    margin: 0%; 
}
.bloco5-1 {
    width: 200px;
    height: 200px;
    background-color: #e4ffa6;
    overflow: hidden;
	margin: 4%;
	border-radius: 3%;
	transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
	cursor: pointer;
	pointer-events: none;
    border: #e4ffa6 10px solid;

}

.bloco5-2 {
    width: 200px;
    height: 200px;
    background-color: #caff42;
    overflow: hidden;
	margin: 0%;
	border-radius: 3%;
	transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
	cursor: pointer;
	pointer-events: none;
    border: #caff42 10px solid;

}

.bloco5-3 {
    width: 200px;
    height: 200px;
    background-color: #caff42;
    overflow: hidden;
	margin: 0;
	border-radius: 3%;
	transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
	cursor: pointer;
	pointer-events: none;
    border: #caff42 10px solid;

}
.bloco5-4 {
    width: 200px;
    height: 200px;
    background-color: #e4ffa6;
    overflow: hidden;
	margin: 4%;
	border-radius: 3%;
	transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
	cursor: pointer;
	pointer-events: none;
    border: #e4ffa6 10px solid;

}



i {
    font-style: normal;
}

.logo_final {
    text-align: center;
    
}

.footer {
    text-align: center;
    color:white;
}


    .pa2 {
    width: 30px;
    color: white;
    }

    .bloco4 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 28px;
        flex: 1;
        font-weight: 400;
        gap: 100px;
        margin: 5% 10%;
    }

    .imagens_grandes {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10%;
        gap:10px;
    }

    .projetos1 img {
        width: 200px;
        height: 350px;
        margin-left: 8%;
    }

    .imagens_grandes img {
        width:400px;
        height: 250px;

    }

    .imgns_pq {
        display: flex;
        justify-content: space-evenly;
        gap:105px;
    }

    .resumo_4 {
        width: 400px;
    }


    
    @media (max-width: 576px) {
        body {
            position: absolute;
        }
        .bloco2 {
            flex-wrap: wrap;
    }

    .bloco5 {
        margin: 0 23%;
    }